.meal-container {
    display: flex;

}



/* .left,
.right {
    width: 768%;
    /* Adjust the width as needed */


.alternatives-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 50px;

}